<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="static/images/logo.ico">
    <title>Ментальное здоровье</title>
    <link rel="stylesheet" href="static/styles/style.css ">
    <script src="static/scripts/get_tip_of_the_day.js"></script>
</head>
<body style="justify-content: center">
<div class="header">
    <div class="logo">
        <img src="static/images/logo.jpg" style=" width: 50px; height: 50px;" alt="logo">
    </div>
    <div style="display: inline-block; height: 50px;">
        <p style="text-align: center; font-size: 40px; color: floralwhite;">
            Забота о себе
        </p>
    </div>
    <div style="display: inline-block; height: 50px;">
        <p style="text-align: center; font-size: 25px; color: floralwhite; margin-right: 10px; margin-top: 10px">
            24/7
        </p>
    </div>
</div>
<div class="page-content">
    <div class="page-main">
        <div class="intro">
            <div class="content-picture">
                <img src="static/images/header_pic.jpg" alt="Медитация">
            </div>
            <div class="intro-text">
                <p>
                Термин <span style="font-style: italic"> «ментальное здоровье», </span> как и синонимичное понятие
                <span style="font-style: italic"> «психологическое здоровье», </span> касается душевного благополучия
                человека в широком смысле слова:
                если человек психологически здоров, он может полноценно радоваться жизни,
                чувствовать смысл своего существования, справляться с задачами, любить, работать и строить отношения с
                окружающими.
            </p>
            <br>
            <p>
                Главная причина, почему важно беречь свое душевное здоровье, — это неразрывная связь между
                психологическим и
                физическим состоянием. Давно известно, что длительный стресс и чрезмерное беспокойство провоцируют
                развитие
                серьезных заболеваний пищеварительной, сердечно-сосудистой и эндокринной систем, ослабляют иммунитет,
                могут
                усиливать симптоматику других заболеваний общего профиля. В то же время люди, заботящиеся о состоянии
                своего
                ментального благополучия, могут полноценно радоваться жизни, выстраивать вокруг себя здоровые
                межличностные
                отношения, способны быстрее адаптироваться к стрессовым ситуациям.
            </p>
            </div>

        </div>

    </div>
    <div class="page-sidebar">
        <p style="margin-bottom: 20px">
            Daily articles
        </p>
        <a href="https://lifehacker.ru/mentalnoe-zdorove/">Профилактика</a>
        <a href="https://takiedela.ru/news/2021/05/27/vygoranie-na-rabote/">Выгорание</a>
    </div>
</div>
<div class="copyright">
    <div class="wrapper">
        <div class="copyright_col content">
            <p>
                2023, Академический университет <br>
                Выполнила: Мария Абдуллаева
            </p>
        </div>
        <div class="copyright_col content">
                194021, Россия, Санкт-Петербург, улица Хлопина, 8, к. 3, лит.А
        </div>
    </div>
</div>
</body>
</html>